/* Design for Home page */
#home{
    display: flex;
    justify-content: center;
    font-style: italic;
}

#home-profile-pic{
    margin: 30px;
}

#home-heading{
    font-size: 3rem;
}

#home-footer{
    position: relative;
}

div p{
    font-size: 1rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .project-info h2 {
        font-size: 1.5rem;
    }

    .project-info p {
        font-size: 0.9rem;
    }
}

