/*Design for Contacts Page*/
.contact-section {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

/* Contact Info */
.contact-info {
    flex: 1;
    margin-right: 20px;
}

.contact-info h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 20px;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}

.contact-info ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.contact-info ul li {
    text-align: center;
    font-size: 100%;
    color: #666;
    margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-info {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .social-links a {
        display: inline-block;
        margin-bottom: 10px;
    }
}
